<mat-card>
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <div style="display: flex; justify-content: space-between; background-color: rgb(253, 208, 216)">
        <mat-label style="color: brown;font-size: 22px; ;">Form For Adding New Products to Product Data Table</mat-label>
      <button mat-raised-button color="warn" routerLink="/post-list" >Exit</button>
      </div>
      <div class="form-tog" style="background-color: rgb(246, 233, 236);">
        <div>
          <!--Product Name-->
          <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input matInput
             type="text"

             formControlName="title"
             >
              <mat-error
              *ngIf="form.get('title').invalid"
              >Enter Product Name
            </mat-error>
          </mat-form-field>
          <br>
          <!--Product Code-->
          <mat-form-field>
            <mat-label>Product Code</mat-label>
            <textarea
            matInput
            rows="4"

            formControlName="content"
            >
            </textarea>
            <mat-error
            *ngIf="form.get('content').invalid">
            Enter Product Code
          </mat-error>
          </mat-form-field>
          <br>
           <!--Product Category-->
           <mat-form-field>
            <mat-label>Product Category</mat-label>
            <mat-select formControlName="selectedValue">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>

            <mat-error
            *ngIf="form.get('selectedValue').invalid">
                  Enter Product Category
                  </mat-error>
          </mat-form-field>
          <br>
          <!--Product Price-->
          <mat-form-field>
           <mat-label>Price in BDT</mat-label>
            <input matInput
             type="number"
             formControlName="price"
              >
            <mat-error
            *ngIf="form.get('price').invalid">
            Enter Product Price
          </mat-error>
          </mat-form-field>
          <br>
          <!--Product Description-->
          <mat-form-field>
            <mat-label>Product Description</mat-label>
            <textarea matInput
             rows="4"
             formControlName="desc">
            </textarea>
            <mat-error
            *ngIf="form.get('desc').invalid">
            Invalid Character Length
          </mat-error>
            </mat-form-field>
        </div>
        <!--One Column Ends here-->
          <div>
            <!--IsBestAchieved-->
              <br>
              <mat-form-field>
                <mat-label>Is Best Achieved:</mat-label>
                <mat-select formControlName="favoriteSeason">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let fav of favs" [value]="fav.value">
                    {{fav.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error
                *ngIf="form.get('selectedOrigin').invalid">
                      Enter Product Origin
                      </mat-error>
              </mat-form-field>
            <!--Created Date-->
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input formControlName="startDate" matInput [matDatepicker]="picker" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


             <br>
                   <!--Origin-->
                   <mat-form-field>
                    <mat-label>Product Origin</mat-label>
                    <mat-select formControlName="selectedOrigin">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let origin of origins" [value]="origin.value">
                        {{origin.viewValue}}
                      </mat-option>
                    </mat-select>

                    <mat-error
                    *ngIf="form.get('selectedOrigin').invalid">
                          Enter Product Origin
                          </mat-error>
                  </mat-form-field>
      <br>
      <!--Image URL-->
      <mat-form-field>
        <mat-label>Image URL</mat-label>
        <input matInput
         type="text"
        formControlName="imageURL">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Default Product Quantity </mat-label>
          <input matInput
          type="number"
          formControlName="quantity">
          </mat-form-field>
          <br>
          <br>
          <br>
          <button  mat-raised-button mat-button color="accent" type="submit">Save Product</button>
      </div>
    </div>
      <!--Submit Button-->
      <br>

    </form>
  </mat-card>
